@{
    ViewData["Title"] = "Home page";
}

@*<style>
    .carousel-item{
        height: 100vh
    }
</style>*@

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="4000" data-pause="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/style/images/art/slider-bg49.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/style/images/art/an4.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/style/images/art/bg9.jpg" alt="Third slide">
        </div>
    </div>
</div>
<!--<div class="rev_slider_wrapper fullscreen-container">
    <div id="slider4" class="rev_slider fullscreenbanner dark-wrapper" data-version="5.4.8">
        <ul>
            <li data-transition="fade">
                <img src="style/images/art/slider-bg49.jpg" alt="" />
                <div class="tp-caption font-weight-700 color-white" data-x="left" data-y="middle" data-hoffset="['500','500','300','100']" data-voffset="['-20','-20','-60','-60']" data-fontsize="['50','50','40','30']" data-lineheight="['60','60','50','40']"
                     data-width="['500','500','500','300']" data-whitespace="['normal','normal','normal','normal']" data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                     data-responsive="on" data-responsive_offset="on" style="z-index: 9;">I'm Caitlyn Missio</div>
                <div class="tp-caption font-weight-400 color-white" data-x="left" data-y="middle" data-hoffset="['500','500','300','100']" data-voffset="['70','70','30','30']" data-fontsize="['26','26','22','20']" data-lineheight="['36','36','32','30']"
                     data-width="['500','500','500','300']" data-whitespace="['normal','normal','normal','normal']" data-frames='[{"from":"x:50px;opacity:0;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                     data-responsive="on" data-responsive_offset="on" style="z-index: 9;">I'm freelance photographer specializing in<br class="d-none d-xl-block" /> conceptual and still-life photography</div>
                <a class="tp-caption btn btn-l btn-white scroll" data-x="left" data-y="middle" data-hoffset="['500','500','300','100']" data-voffset="['170','170','130','130']" data-width="['auto','auto','auto','auto']" data-frames='[{"delay":1700,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                   data-startslide="0" data-endslide="3" data-responsive="on" data-responsive_offset="on" style="z-index: 9;" href="#portfolio">See My Works</a>
            </li>
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
    </div>-->
    <!-- /.rev_slider -->
<!--</div>-->
<!-- /.rev_slider_wrapper -->
<div class="wrapper bg-pastel-default">
    <div class="container inner">
        <h2 class="title-color color-dark mb-20 text-center">My Specialties</h2>
        <h3 class="sub-heading2 text-center">I'd like to give you a unique photography experience, capturing your<br class="d-none d-xl-block" />  products with excellent composition and lighting skills.</h3>
        <div class="space30"></div>
        <div class="tiles">
            <div class="items row boxed grid-view text-center">
                <div class="item col-md-4">
                    <div class="box bg-white shadow p-30">
                        <figure class="main mb-25"><img src="style/images/art/si26.jpg" alt="" /></figure>
                        <h4 class="text-uppercase mb-5">Advertorial</h4>
                    </div>
                    <!-- /.box -->
                </div>
                <!--/.item -->
                <div class="item col-md-4">
                    <div class="box bg-white shadow p-30">
                        <figure class="main mb-25"><img src="style/images/art/si27.jpg" alt="" /></figure>
                        <h4 class="text-uppercase mb-5">Product</h4>
                    </div>
                    <!-- /.box -->
                </div>
                <!--/.item -->
                <div class="item col-md-4">
                    <div class="box bg-white shadow p-30">
                        <figure class="main mb-25"><img src="style/images/art/si28.jpg" alt="" /></figure>
                        <h4 class="text-uppercase mb-5">Still-Life</h4>
                    </div>
                    <!-- /.box -->
                </div>
                <!--/.item -->
            </div>
            <!--/.row -->
        </div>
        <!--/.tiles -->
    </div>
    <!-- /.container -->
</div>
<!-- /.wrapper -->

<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="style/images/art/bg16.jpg">
    <div class="container inner pt-150 pb-150">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cube-slider cbp-slider-edge cbp">
                    <div class="cbp-item">
                        <blockquote class="icon icon-top larger text-center pl-60 pr-60">
                            <p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus.</p>
                            <footer class="blockquote-footer">Connor Gibson</footer>
                        </blockquote>
                    </div>
                    <!-- /.cbp-item -->
                    <div class="cbp-item">
                        <blockquote class="icon icon-top larger text-center pl-60 pr-60">
                            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper eget quam integer. </p>
                            <footer class="blockquote-footer">Coriss Ambady</footer>
                        </blockquote>
                    </div>
                    <!-- /.cbp-item -->
                    <div class="cbp-item">
                        <blockquote class="icon icon-top larger text-center pl-60 pr-60">
                            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis.</p>
                            <footer class="blockquote-footer">Barclay Widerski</footer>
                        </blockquote>
                    </div>
                    <!-- /.cbp-item -->
                    <div class="cbp-item">
                        <blockquote class="icon icon-top larger text-center pl-60 pr-60">
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam aenean lacinia. Curabitur blandit tempus in egestas consectetur.</p>
                            <footer class="blockquote-footer">Nikola Brooten</footer>
                        </blockquote>
                    </div>
                    <!-- /.cbp-item -->
                </div>
                <!-- /.cbp -->
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>

<div class="wrapper light-wrapper" id="portfolio">
    <div class="container inner">
        <h2 class="title-color color-dark mb-20 text-center">My Featured Work</h2>
        <h3 class="sub-heading2 text-center">Photography is my passion and<br class="d-none d-xl-block" /> I love to turn ideas into beautiful things.</h3>
        <div class="space40"></div>
        <div id="cube-grid-filter" class="cbp-filter-container text-center">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All</div>
            <div data-filter=".food" class="cbp-filter-item">Food</div>
            <div data-filter=".drink" class="cbp-filter-item">Drink</div>
            <div data-filter=".event" class="cbp-filter-item">Event</div>
            <div data-filter=".pastry" class="cbp-filter-item">Pastry</div>
            <div data-filter=".product" class="cbp-filter-item">Product</div>
        </div>
        <div class="clearfix"></div>
        <div class="space20"></div>
        <div id="cube-grid" class="cbp">
            <div class="cbp-item food">
                <figure class="overlay overlay1 light rounded">
                    <a href="gallery-post.html"><img src="style/images/art/cp1.jpg" alt="" /></a>
                    <figcaption>
                        <h5 class="text-uppercase from-top mb-0">Project Name</h5>
                    </figcaption>
                </figure>
            </div>
            <!--/.cbp-item -->
            <div class="cbp-item product">
                <figure class="overlay overlay1 light rounded">
                    <a href="gallery-post2.html"><img src="style/images/art/cp2.jpg" alt="" /></a>
                    <figcaption>
                        <h5 class="text-uppercase from-top mb-0">Project Name</h5>
                    </figcaption>
                </figure>
            </div>
            <!--/.cbp-item -->
            <div class="cbp-item drink">
                <figure class="overlay overlay1 light rounded">
                    <a href="gallery-post3.html"><img src="style/images/art/cp3.jpg" alt="" /></a>
                    <figcaption>
                        <h5 class="text-uppercase from-top mb-0">Project Name</h5>
                    </figcaption>
                </figure>
            </div>
            <!--/.cbp-item -->
            <div class="cbp-item food">
                <figure class="overlay overlay1 light rounded">
                    <a href="gallery-post4.html"><img src="style/images/art/cp4.jpg" alt="" /></a>
                    <figcaption>
                        <h5 class="text-uppercase from-top mb-0">Project Name</h5>
                    </figcaption>
                </figure>
            </div>
            <!--/.cbp-item -->
            <div class="cbp-item event">
                <figure class="overlay overlay1 light rounded">
                    <a href="gallery-post.html"><img src="style/images/art/cp5.jpg" alt="" /></a>
                    <figcaption>
                        <h5 class="text-uppercase from-top mb-0">Project Name</h5>
                    </figcaption>
                </figure>
            </div>
            <!--/.cbp-item -->
            <div class="cbp-item product event">
                <figure class="overlay overlay1 light rounded">
                    <a href="gallery-post2.html"><img src="style/images/art/cp6.jpg" alt="" /></a>
                    <figcaption>
                        <h5 class="text-uppercase from-top mb-0">Project Name</h5>
                    </figcaption>
                </figure>
            </div>
            <!--/.cbp-item -->
            <div class="cbp-item drink">
                <figure class="overlay overlay1 light rounded">
                    <a href="gallery-post3.html"><img src="style/images/art/cp7.jpg" alt="" /></a>
                    <figcaption>
                        <h5 class="text-uppercase from-top mb-0">Project Name</h5>
                    </figcaption>
                </figure>
            </div>
            <!--/.cbp-item -->
            <div class="cbp-item event">
                <figure class="overlay overlay1 light rounded">
                    <a href="gallery-post4.html"><img src="style/images/art/cp8.jpg" alt="" /></a>
                    <figcaption>
                        <h5 class="text-uppercase from-top mb-0">Project Name</h5>
                    </figcaption>
                </figure>
            </div>
            <!--/.cbp-item -->
            <div class="cbp-item pastry">
                <figure class="overlay overlay1 light rounded">
                    <a href="gallery-post.html"><img src="style/images/art/cp9.jpg" alt="" /></a>
                    <figcaption>
                        <h5 class="text-uppercase from-top mb-0">Project Name</h5>
                    </figcaption>
                </figure>
            </div>
            <!--/.cbp-item -->
            <div class="cbp-item pastry">
                <figure class="overlay overlay1 light rounded">
                    <a href="gallery-post2.html"><img src="style/images/art/cp10.jpg" alt="" /></a>
                    <figcaption>
                        <h5 class="text-uppercase from-top mb-0">Project Name</h5>
                    </figcaption>
                </figure>
            </div>
            <!--/.cbp-item -->
            <div class="cbp-item food">
                <figure class="overlay overlay1 light rounded">
                    <a href="gallery-post3.html"><img src="style/images/art/cp11.jpg" alt="" /></a>
                    <figcaption>
                        <h5 class="text-uppercase from-top mb-0">Project Name</h5>
                    </figcaption>
                </figure>
            </div>
            <!--/.cbp-item -->
        </div>
        <!--/.cbp -->
        <div class="space30"></div>
        <div id="cube-grid-more" class="text-center">
            <a href="ajax/loadmore.html" class="cbp-l-loadMore-link btn btn-white shadow" rel="nofollow">
                <span class="cbp-l-loadMore-defaultText">Load More</span> <span class="cbp-l-loadMore-loadingText">Loading...</span>
                <span class="cbp-l-loadMore-noMoreLoading">No More Works</span>
            </a>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="style/images/art/bg3.jpg">
    <div class="container inner pt-150 pb-150">
        <div class="row counter">
            <div class="col-md-4">
                <div class="d-flex flex-row justify-content-center">
                    <div class="icon fs-58 icon-color color-dark mr-25"><i class="si-photo_camera"></i></div>
                    <div>
                        <h3 class="value">7518</h3>
                        <p>Shots Taken</p>
                    </div>
                </div>
            </div>
            <!--/column -->
            <div class="col-md-4">
                <div class="d-flex flex-row justify-content-center">
                    <div class="icon fs-58 icon-color color-dark mr-25"> <i class="si-cafe_hot-coffee"></i> </div>
                    <div>
                        <h3 class="value">3472</h3>
                        <p>Cups of Coffee</p>
                    </div>
                </div>
            </div>
            <!--/column -->
            <div class="col-md-4">
                <div class="d-flex flex-row justify-content-center">
                    <div class="icon fs-58 icon-color color-dark mr-25"> <i class="si-sports_medal-2"></i> </div>
                    <div>
                        <h3 class="value">4523</h3>
                        <p>Awards Won</p>
                    </div>
                </div>
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</div>
<div class="wrapper bg-pastel-default">
    <div class="container inner text-center">
        <h2 class="title-color color-dark mb-20 text-center">Work with Me</h2>
        <h3 class="sub-heading2 text-center">Great photography comes with understanding customer needs.<br class="d-none d-xl-block" /> Looking for a caring, fun, passionate and creative photographer? It's me!</h3>
        <div class="space10"></div>
        <a asp-controller="Contact" class="btn btn-white shadow magic-hover magic-hover__square">Get in Touch</a>
    </div>
    <!-- /.container -->
</div>

@section Scripts{
    <script>
        function postToGeneral() {
            //var post = $.post('api/general/GalleryUpdate');
            //post.done(function (data) { console.log(data) })
            //post.fail(function (req, status, error) {
            //        console.log(error);
            //        console.log(req);
            //        console.log(status);
            //    })
            var token = $("#generalForm input[name=__RequestVerificationToken]").val();

            $.ajax({
                url: 'api/general/GalleryUpdate',
                type: "POST",
                headers: { 'RequestVerificationToken': token },
                contentType: 'application/json',
                data: JSON.stringify({
                    name: "Cars",
                    id: "2588e750-6b71-463d-87f7-851af23a316a",
                    isPrivate: true,
                    isDeleted: false,
                    description: "asdasas"
                }),
                success: function (data) {
                    console.log(data)
                },
                error: function (req, status, error) {
                    console.log(error);
                    console.log(req);
                    console.log(status);
                }
            });
        }
    </script>
} 