@{ }
<footer class="wrapper white-wrapper">
    <div class="container inner pt-60 pb-30 text-center">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-md-4">
                        <div class="widget">
                            <h3 class="widget-title">Location</h3>
                            <address class="mb-0"> Slatina Avenue, 14/05 <br> Jupiter, JP 80630 </address>
                        </div>
                        <!-- /.widget -->
                    </div>
                    <!-- /column -->
                    <div class="col-md-4">
                        <div class="widget">
                            <h3 class="widget-title">Follow</h3>
                            <ul class="social social-mute social-s">
                                <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <!-- /.widget -->
                    </div>
                    <!-- /column -->
                    <div class="col-md-4">
                        <div class="widget">
                            <h3 class="widget-title">Contact</h3>
                            <a href="mailto:#" class="nocolor">missio@email.com</a> <br /> 00 (123) 456 78 90
                        </div>
                        <!-- /.widget -->
                    </div>
                    <!-- /column -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
        <div class="space30"></div>
        <p class="text-center">© 2021 Martography.</p>
    </div>
    <!-- /.container -->
</footer>