@{ }
<footer class="wrapper white-wrapper">
    <div class="container inner pt-60 pb-30 text-center">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-sm-4 order-sm-12">
                        <div class="widget">
                            <h3 class="widget-title">Follow</h3>
                            <ul class="social social-mute social-s">
                                <li><a href="https://www.instagram.com/martographyph/" target="_blank" class="magic-hover magic-hover__square"><i class="fa fa-instagram fa-2x"></i></a></li>
                                <li><a href="https://www.facebook.com/martographyy" target="_blank" class="magic-hover magic-hover__square"><i class="fa fa-facebook-f fa-2x"></i></a></li>
                                <li><a href="https://500px.com/p/haloho?view=photos" target="_blank" class="magic-hover magic-hover__square"><i class="fa fa-500px fa-2x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 order-sm-1">
                        <div class="widget">
                            <h3 class="widget-title">Location</h3>
                            <address class="mb-0"><a class="black magic-hover magic-hover__square" target="_blank" href="https://www.google.com/maps/@@42.6831905,23.377003,20.28z"> Sofia <br> Bulgaria </a></address>
                        </div>
                    </div>
                    <div class="col-sm-4 order-sm-12">
                        <div class="widget">
                            <a asp-controller="Contact" class="nocolor magic-hover magic-hover__square"><h3 class="widget-title">Contact</h3></a>
                            <a href="mailto:contact@martographyph.com" class="nocolor magic-hover magic-hover__square">contact@martographyph.com</a> <br /> <a class="nocolor" href="tel:+359882721995">+359 88 272 1995</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space30"></div>
        <p class="text-center">Copyright &copy; @DateTime.Now.Year Martography. All Rights Reserved.</p>
    </div>
</footer>