@{
    @model ViewModels.Blog.BlogPostAdminViewModel
}

<div class="space20"></div>
<div class="text-center">
    <h1>Create new blog post</h1>
</div>
<div class="space20"></div>

<form id="asd" method="post">
    <div class="row justify-content-around">
        <div class="dropdown">
            <button class="btn btn-success
                    dropdown-toggle"
                    style="background-color: black;"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                All Images
            </button>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 800%; overflow-y:auto;">
                @foreach (var image in Model.AllImages.OrderBy(x=>x.ProjectGalleryName).ThenBy(x=>x.ProjectName))
                {
                     <li class="dropdown-item">
                         <label style="display:none;">@image.Id</label>
                         <img src="~/@image.ThumbnailImageUrl" width="60" height="85"> @(image.ProjectGalleryName + "-" + image.ProjectName)
                     </li>
                }
            </ul>
        </div>

        <input asp-for="Title" type="text" placeholder="Title" />

        <input asp-for="Author" type="text" placeholder="Author" />

        <select asp-for="GalleryId" asp-items="@Model.AllGalleries" style="width:15%"></select>
    </div>
    <div class="space20"></div>
    <input id="hiddenImageId" asp-for="ImageId" type="hidden" value="@Model.ImageId" />

    <textarea id="tiny-textarea" asp-for="Content"></textarea>

    <div class="space20"></div>
    <div class="row justify-content-center">
        <button asp-action="Create" type="submit" class="btn" style="background-color: black;" form="asd">Save</button>
    </div>
</form>

@section Scripts{
    <script src="~/js/tinymce/tinymce.min.js"></script>
    <script>
        var useDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;

        tinymce.init({
            selector: '#tiny-textarea',
            plugins: 'print preview powerpaste casechange importcss tinydrive searchreplace autolink autosave save directionality advcode visualblocks visualchars fullscreen image link media mediaembed template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists checklist wordcount tinymcespellchecker a11ychecker imagetools textpattern noneditable help formatpainter permanentpen pageembed charmap tinycomments quickbars linkchecker emoticons advtable export',
            mobile: {
                plugins: 'print preview powerpaste casechange importcss tinydrive searchreplace autolink autosave save directionality advcode visualblocks visualchars fullscreen image link media mediaembed template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists checklist wordcount tinymcespellchecker a11ychecker textpattern noneditable help formatpainter pageembed charmap quickbars linkchecker emoticons advtable'
            },
            menu: {
                tc: {
                    title: 'Comments',
                    items: 'addcomment showcomments deleteallconversations'
                }
            },
            menubar: 'file edit view insert format tools table tc help',
            toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist checklist | forecolor backcolor casechange permanentpen formatpainter removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media pageembed template link anchor codesample | a11ycheck ltr rtl | showcomments addcomment',
            autosave_ask_before_unload: true,
            autosave_interval: '30s',
            autosave_prefix: '{path}{query}-{id}-',
            autosave_restore_when_empty: false,
            autosave_retention: '2m',
            image_advtab: true,
            link_list: [
                { title: 'My page 1', value: 'https://www.tiny.cloud' },
                { title: 'My page 2', value: 'http://www.moxiecode.com' }
            ],
            image_list: [
                { title: 'My page 1', value: 'https://www.tiny.cloud' },
                { title: 'My page 2', value: 'http://www.moxiecode.com' }
            ],
            image_class_list: [
                { title: 'None', value: '' },
                { title: 'Some class', value: 'class-name' }
            ],
            importcss_append: true,
            templates: [
                { title: 'New Table', description: 'creates a new table', content: '<div class="mceTmpl"><table width="98%%"  border="0" cellspacing="0" cellpadding="0"><tr><th scope="col"> </th><th scope="col"> </th></tr><tr><td> </td><td> </td></tr></table></div>' },
                { title: 'Starting my story', description: 'A cure for writers block', content: 'Once upon a time...' },
                { title: 'New list with dates', description: 'New List with dates', content: '<div class="mceTmpl"><span class="cdate">cdate</span><br /><span class="mdate">mdate</span><h2>My List</h2><ul><li></li><li></li></ul></div>' }
            ],
            template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
            template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
            height: 600,
            image_caption: true,
            quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
            noneditable_noneditable_class: 'mceNonEditable',
            toolbar_mode: 'sliding',
            spellchecker_ignore_list: ['Ephox', 'Moxiecode'],
            tinycomments_mode: 'embedded',
            content_style: '.mymention{ color: gray; }',
            contextmenu: 'link image imagetools table configurepermanentpen',
            a11y_advanced_options: true,
            skin: useDarkMode ? 'oxide-dark' : 'oxide',
            content_css: useDarkMode ? 'dark' : 'default',
            relative_urls: false,
            remove_script_host: true,
        });

        $(".dropdown-item").on("click", function () {
            //console.log($(this).children()[0].innerHTML);
            let chosenImageId = $(this).find('label')[0].innerHTML;
            $('#hiddenImageId').val(chosenImageId);
        })
    </script>
}