<div class="wrapper light-wrapper">
    <div class="container inner pt-70">
        <h2 class="section-title mb-40 text-center">Meet the Team</h2>
        <div class="row boxed grid-view">
            <div class="col-md-6 col-lg">
                <div class="box bg-white shadow p-30">
                    <figure class="main"><img src="style/images/art/t1.jpg" alt="" /></figure>
                    <h4 class="mb-5">Martin</h4>
                    <div class="meta mb-10">Art Director</div>
                    <p>Etiam porta sem magna malesuada mollis.</p>
                    <ul class="social social-mute">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                    </ul>
                </div>
                <!-- /.box -->
            </div>
            <!--/column -->
            <div class="col-md-6 col-lg">
                <div class="box bg-white shadow p-30">
                    <figure class="main"><img src="style/images/art/t2.jpg" alt="" /></figure>
                    <h4 class="mb-5">Marte</h4>
                    <div class="meta mb-10">Photographer</div>
                    <p>Vivamus sagittis lacus vel augue laoreet rutrum.</p>
                    <ul class="social social-mute">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
                <!-- /.box -->
            </div>
            <!--/column -->
            <div class="space30 d-lg-none"></div>
            <div class="col-md-6 col-lg">
                <div class="box bg-white shadow p-30">
                    <figure class="main"><img src="style/images/art/t3.jpg" alt="" /></figure>
                    <h4 class="mb-5">Martinesko</h4>
                    <div class="meta mb-10">Photographer & Editor</div>
                    <p>Fusce dapibus, tellus ac cursus commodo, tortor.</p>
                    <ul class="social social-mute">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                <!-- /.box -->
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="wrapper light-wrapper">
    <div class="container inner">
        <h2 class="section-title text-center">Happy Customers</h2>
        <div class="cube-carousel cbp">
            <div class="cbp-item">
                <div class="box bg-white shadow">
                    <blockquote class="icon icon-left">
                        <p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula lacinia odio.</p>
                        <footer class="blockquote-footer">Connor Gibson</footer>
                    </blockquote>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.cbp-item -->
            <div class="cbp-item">
                <div class="box bg-white shadow">
                    <blockquote class="icon icon-left">
                        <p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula lacinia odio.</p>
                        <footer class="blockquote-footer">Coriss Ambady</footer>
                    </blockquote>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.cbp-item -->
            <div class="cbp-item">
                <div class="box bg-white shadow">
                    <blockquote class="icon icon-left">
                        <p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula lacinia odio.</p>
                        <footer class="blockquote-footer">Barclay Widerski</footer>
                    </blockquote>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.cbp-item -->
            <div class="cbp-item">
                <div class="box bg-white shadow">
                    <blockquote class="icon icon-left">
                        <p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula lacinia odio.</p>
                        <footer class="blockquote-footer">Nikola Brooten</footer>
                    </blockquote>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.cbp-item -->
            <div class="cbp-item">
                <div class="box bg-white shadow">
                    <blockquote class="icon icon-left">
                        <p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula lacinia odio.</p>
                        <footer class="blockquote-footer">Jackie Sanders</footer>
                    </blockquote>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.cbp-item -->
            <div class="cbp-item">
                <div class="box bg-white shadow">
                    <blockquote class="icon icon-left">
                        <p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula lacinia odio.</p>
                        <footer class="blockquote-footer">Cory Zamora</footer>
                    </blockquote>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.cbp-item -->
            <div class="cbp-item">
                <div class="box bg-white shadow">
                    <blockquote class="icon icon-left">
                        <p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula lacinia odio.</p>
                        <footer class="blockquote-footer">Pierce Bailey</footer>
                    </blockquote>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.cbp-item -->
        </div>
        <!-- /.cbp -->
    </div>
    <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="wrapper gray-wrapper">
    <div class="container inner text-center">
        <h2 class="section-title text-center">Work with Me</h2>
        <h3 class="lead larger text-center">Great photography comes with understanding customer needs.<br class="d-none d-xl-block" /> Looking for a caring, fun, passionate and creative photographer? It's me!</h3>
        <div class="space20"></div>
        <a href="#" class="btn btn-white">Get in Touch</a>
    </div>
    <!-- /.container -->
</div>
