<div class="wrapper light-wrapper">
    <div class="container inner pt-70">
        <h2 class="section-title mb-40 text-center">Meet the Team</h2>
        <div class="row boxed grid-view">
            <div class="col-md-6 col-lg">
                <div class="box bg-white shadow p-30">
                    <figure class="main"><img src="style/images/art/t1.jpg" alt="" /></figure>
                    <h4 class="mb-5">Marteto</h4>
                    <div class="meta mb-10">Marketing Director</div>
                    <p>Etiam porta sem magna malesuada mollis.</p>
                    <ul class="social social-mute">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                    </ul>
                </div>
                <!-- /.box -->
            </div>
            <!--/column -->
            <div class="col-md-6 col-lg">
                <div class="box bg-white shadow p-30">
                    <figure class="main"><img src="style/images/art/t2.jpg" alt="" /></figure>
                    <h4 class="mb-5">Martin</h4>
                    <div class="meta mb-10">Photographer</div>
                    <p>Vivamus sagittis lacus vel augue laoreet rutrum.</p>
                    <ul class="social social-mute">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
                <!-- /.box -->
            </div>
            <!--/column -->
            <div class="space30 d-lg-none"></div>
            <div class="col-md-6 col-lg">
                <div class="box bg-white shadow p-30">
                    <figure class="main"><img src="style/images/art/t3.jpg" alt="" /></figure>
                    <h4 class="mb-5">Martinesko</h4>
                    <div class="meta mb-10">Editor</div>
                    <p>Fusce dapibus, tellus ac cursus commodo, tortor.</p>
                    <ul class="social social-mute">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                <!-- /.box -->
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</div>

<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="style/images/home-page-testimonials.jpg">
    <div class="container inner pt-150 pb-150">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cube-slider cbp-slider-edge cbp">
                    <div class="cbp-item">
                        <blockquote class="icon icon-top larger text-center pl-60 pr-60">
                            <p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus.</p>
                            <footer class="blockquote-footer">Connor Gibson</footer>
                        </blockquote>
                    </div>
                    <!-- /.cbp-item -->
                    <div class="cbp-item">
                        <blockquote class="icon icon-top larger text-center pl-60 pr-60">
                            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper eget quam integer. </p>
                            <footer class="blockquote-footer">Coriss Ambady</footer>
                        </blockquote>
                    </div>
                    <!-- /.cbp-item -->
                    <div class="cbp-item">
                        <blockquote class="icon icon-top larger text-center pl-60 pr-60">
                            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis.</p>
                            <footer class="blockquote-footer">Barclay Widerski</footer>
                        </blockquote>
                    </div>
                    <!-- /.cbp-item -->
                    <div class="cbp-item">
                        <blockquote class="icon icon-top larger text-center pl-60 pr-60">
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam aenean lacinia. Curabitur blandit tempus in egestas consectetur.</p>
                            <footer class="blockquote-footer">Nikola Brooten</footer>
                        </blockquote>
                    </div>
                    <!-- /.cbp-item -->
                </div>
                <!-- /.cbp -->
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>

<div class="wrapper gray-wrapper">
    <div class="container inner text-center">
        <h2 class="title-color color-dark mb-20 text-center">If you like what you see</h2>
        <h3 class="sub-heading2 text-center">Work with Me</h3>
        <div class="space20"></div>
        <a asp-controller="Contact" class="btn btn-white">Get in Touch</a>
    </div>
    <!-- /.container -->
</div>
