@{
    var urlPath = Context.Request.Path;
    string classContent = urlPath == "/" ? "navbar wide transparent absolute inverse-text navbar-expand-lg" : "navbar wide transparent absolute text navbar-expand-lg";
    
    @model IEnumerable<ViewModels.GalleryModels.GalleryDropDownViewModel>
}

<nav class="navbar wide bg-light navbar-expand-lg">
    <div class="container-fluid flex-row justify-content-center">
        <div class="navbar-header">
            <div class="navbar-brand"><a href="/"><img src="#" srcset="~/style/images/logo2.png 1x, style/images/logo2@2x.png 2x" alt="" /></a></div>
            <div class="navbar-hamburger ml-auto d-lg-none d-xl-none"><button class="hamburger animate" data-toggle="collapse" data-target=".navbar-collapse"><span></span></button></div>
        </div>
        <!-- /.navbar-header -->
        <div class="navbar-collapse collapse justify-content-between align-items-center">
            <ul class="navbar-nav plain mx-auto text-center">
                @*<li class="nav-item">
                    <a class="nav-link magic-hover magic-hover__square" href="/">Home</a>
                </li>*@
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle magic-hover magic-hover__square" asp-controller="Portfolio" asp-action="Index">Portfolio</a>
                    <ul class="dropdown-menu">
                        @foreach (var gallery in Model)
                        {
                            <li class="nav-item"><a asp-controller="Gallery" asp-action="Index" asp-route-id="@gallery.Id" class="dropdown-item magic-hover magic-hover__square">@gallery.Name</a></li>
                        }
                    </ul>
                </li>
                <li class="nav-item magic-hover magic-hover__square">
                    <a class="nav-link" asp-controller="Blog" asp-action="Index">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" asp-controller="Contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="social-wrapper text-right">
            <ul class="social social-mute social-s mb-0">
                <li><a href="https://www.instagram.com/martographyph/" target="_blank" class="magic-hover magic-hover__square"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/martographyy" target="_blank" class="magic-hover magic-hover__square"><i class="fa fa-facebook-f"></i></a></li>
                @*<li><a href="https://500px.com/p/haloho?view=photos" target="_blank" class="magic-hover magic-hover__square"><i class="fa fa-500px"></i></a></li>*@
            </ul>
        </div>
        <!--/.social-wrapper -->
    </div>
</nav>